header {
    display: flex;
    background-color: #c0afee;
    justify-content: space-between;
    color: #fafafa;
    padding: 30px 80px;
}

.cart-button {
    background-color: #fff;
    padding: 5px 20px;
    border-radius: 20px;
    border: 1px solid #000;
    outline: none;
    float: left;
}

.cart-button:hover {
    background-color: #cceecc;
    cursor: pointer;
}

.logo {
    font-size: 20px;
}

.products {
    column-gap: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-template-rows: 1fr;
    padding: 40px 80px;
    justify-content: space-between;
}

.product-item {
    display: flex;
    flex-direction: column;
    width: 200px;
    border-radius: 5px;
    overflow: hidden;
    margin: 20px 0;
}

.product-item__img {
    width: 80%;
}